body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-align: center;
    /* font-size: 0.9em; */
    overflow: hidden;
    background-color: #cacaca;
}
svg {
    max-width: 960px;
    max-height: 90vh;
    stroke-linecap: round;
    stroke-linejoin: round;
}
rect.background {
    fill: none;
    pointer-events: all;
}
path.feature {
    stroke-width: 0.75px;
    stroke: #fff;
    /* fill: #a6bddb; */
    cursor: pointer;
}
#footer{
    height: 50vh;
    width: 100vw;
}
#footer div{
    display: inline-block;
}
#pop{
    opacity: 0;
    padding: 25px;
}
h2{
    padding-top: 20px;
}
.margin{
    margin-bottom: -10px;
}
#firstRow{
    margin-bottom: -40px;
}
#secondRow{
    margin-top: -15px;
}
